---
import PictureLqip from "@/article/picture-lqip.astro";
import Layout from "@/components/layout.astro";
import TextLink from "@/components/mdx/text-link.astro";
import { formatDate } from "@/utils/date";
import { Seo as SEO } from "astro-seo-meta";
import { getEntry, render } from "astro:content";
import consola from "consola";
import AuthorCollection from "./author-collection.astro";

export interface Props {
	slug: string;
}

const article = await getEntry("articles", Astro.props.slug);

if (!article) {
	throw new Error("Article not found");
}

if (article.data.cover_photo.image.width / article.data.cover_photo.image.height !== 16 / 9) {
	consola.warn(`Article ${article.id} has a cover photo with an aspect ratio of ${article.data.cover_photo.image.width / article.data.cover_photo.image.height}. It should be 16:9.`);
}

const { Content } = await render(article);

const { cover_photo, title, description, authors, published_at, language } = article.data;
---

<Layout lang={article.data.language}>
	<SEO {title} {description} slot="head" />

	<main class="bg-article mx-auto p-lg lg:p-xl max-w-[64rem]">
		<header class="flex flex-col items-center mb-xl md:mb-32">
			<PictureLqip
				image={cover_photo.image}
				alt={cover_photo.alt}
				class="object-cover aspect-video"
				pictureClass="mask-b-from-25%"
			/>
			<h1 class="my-xl text-center text-balance leading-none">{title}</h1>
			<time datetime={published_at.toISOString()} class="mb-xl">{formatDate(published_at, language)}</time>
			<AuthorCollection {authors} />
		</header>
		<article>
			<Content
				components={{
					a: TextLink
				}}
			/>
		</article>
	</main>
</Layout>
