---
import Layout from "@/components/layout.astro";
import TextLink from "@/components/mdx/text-link.astro";
import { Picture } from "astro:assets";
import { getEntry, render } from "astro:content";
import consola from "consola";

export interface Props {
	slug: string;
}

const article = await getEntry("articles", Astro.props.slug);

if (!article) {
	throw new Error("Article not found");
}

if (article.data.cover_photo.image.width / article.data.cover_photo.image.height !== 16 / 9) {
	consola.warn(`Article ${article.id} has a cover photo with an aspect ratio of ${article.data.cover_photo.image.width / article.data.cover_photo.image.height}. It should be 16:9.`);
}

const { Content } = await render(article);

const { cover_photo, title } = article.data;
---

<Layout lang={article.data.language}>
	<main class="bg-article mx-auto p-xl max-w-[64rem]">
		<header class="mb-xl">
			<Picture src={cover_photo.image} alt={cover_photo.alt} class="mask-b-from-0 object-cover aspect-video" />
			<h1 class="p-lg text-center">{title}</h1>
		</header>
		<article>
			<Content
				components={{
					a: TextLink
				}}
			/>
		</article>
	</main>
</Layout>
