---
import Layout from "@/components/layout.astro";
import { Seo as SEO } from "astro-seo-meta";
import { getEntry, render } from "astro:content";
import consola from "consola";
import ArticleTOC from "./article-toc.astro";

export interface Props {
	slug: string;
}

const article = await getEntry("articles", Astro.props.slug);

if (!article) {
	throw new Error("Article not found");
}

if (article.data.cover_photo.image.width / article.data.cover_photo.image.height !== 16 / 9) {
	consola.warn(`Article ${article.id} has a cover photo with an aspect ratio of ${article.data.cover_photo.image.width / article.data.cover_photo.image.height}. It should be 16:9.`);
}

const { Content, headings } = await render(article);

const {
	// cover_photo,
	title,
	description
	// authors,
	// published_at,
	// language
} = article.data;
---

<Layout lang={article.data.language}>
	<SEO {title} {description} slot="head" />
	<main class="grid grid-cols-[calc(38.2%-33.75rem)_auto_1fr] p-xl">
		<span />
		<article class="space-y-2xl max-w-[67.5rem]">
			<Content />
		</article>
		<ArticleTOC {headings} />
	</main>
</Layout>
